body {
    margin: 0;
    padding: 0;
    width: 100%;
}

.table2 {
    border-spacing: 0 20px;
}

.box1 {
    text-align: center;
    background-color: darkred
}

.box2 {
    text-align: center;
    background-color: deeppink;
}

.box3 {
    background-color: brown;
    text-align: center
}

.box_text_color {
    color: white;
    margin: 0px;
    padding: 10px;
}

.box_text_color a,
.box_text_color p {
    color: inherit;
}

.td_image_cell {
    width: 570px;
}

.td_img_cell img {
    width: 100%;
    height: 100%;
    display: block;
}

p {
    font-family: 'Arial';
    font-size: 16px;
    color: #3d3d3d;
}