.container {
    display: flex;
    flex-direction: row;
}

.item {
    flex: 1;

    padding: 20px;
    margin: 5px;
    background-color: lightblue;
    border: 1px solid darkblue;
    text-align: center;
}

.item img {
    width: 100px;
    height: 100px;
    display: block;
    margin: 0 auto 10px;
}


.navbar {
    display: flex;
    background-color: #444;
}

.navbar:hover {
    background-color: #333;
}

.nav-item {
    position: relative;
}

.nav-item a {
    display: block;
    padding: 15px 20px;
    text-decoration: none;
    color: white;
}

.nav-item:hover > a{
    background-color: #bdbbbb;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
}

.dropdown-content a {
    display: block;
    color: black;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.dropdown-content a:last-child {
    border-bottom: none;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}